/Prac1/cmake-build-debug/
.idea/
/Prac1/Ivan/
/Prac1/Media_files/
/Prac1/html/
/Prac1/latex/
/Prac1/Media_files/files_list.html
/Prac1/.idea/

/Prac2/cmake-build-debug/
/Prac2/html/
/Prac2/latex/
/Prac2/.idea/

/Prac3/cmake-build-debug/
/Prac3/html/
/Prac3/latex/
/Prac3/.idea/
